.deps
.libs
Makefile
Makefile.in
Makefile.in.in
config.h
config.log
config.status
configure
configh.in
config.guess
config.sub
stamp-h[0-9]*
libtool
autom4te*.cache
gawk*.tar.gz
gawk*.tar.zz
gawk*.tar.bz2
aclocal.m4
*.la
*.lo
m4
build-aux
ABOUT-NLS
INSTALL
*.t2p
*.info
*.pdf
log.[0-9]*
*.spec
_*
POTFILES
*.gmo
remove-potcdate.sed
*~
Rules-quot
boldquot.sed
en@boldquot.header
en@boldquot.insert-header
en@boldquot.po
en@quot.header
en@quot.insert-header
en@quot.po
insert-header.sin
quot.sed
remove-potcdate.sin
stamp-po
Makevars.template
*.pot
